/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    position: sticky;
    top: 0;
    opacity: 0.8;
}
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}
#portfolio p{
    /* margin: 3%; */
    color: rgb(0, 247, 173);
    font-size: 1rem;
    padding-left: 7%;
}

/* Headings */
.heading{
    font-size: 1.3rem;
}



/* About Section */
.about{
    flex-direction: column;
}
.about h2{
    text-align: center;
}

.about img{
    width: 200px;
    height: 150px;
    padding: 0px 15px;
}
/* Message box */
#message{
    width: 40%;
    height: 200px;
}

/* Boxes */
.box{
    height: 150px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
.box h2{
    color: yellowgreen;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.box p{
    color: white;
    font-size: .8rem;
}
.handle{
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}