*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(32, 31, 31, 1);
  opacity: 1;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
    opacity: 0.8;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    font-size: 1.1rem;
}
.navbar ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    border-bottom: 2px solid yellow;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 1100px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    background: url('Images/bg.jpg') no-repeat center center/cover;
    height: 1100px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.heading{
    color: white;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transform: scale(1,1.3);
    padding: 2%
}


/* effect */

:root {
    --bg-color:rgba(32, 31, 31, 1);
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
  }
  
  #effect{
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
  }
  
#effect::before,
#effect::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
#effect::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
#effect::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  .subtitle {
    color: rgb(0, 247, 173);
    font-size: 2rem;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* ******************************* Portfolio Section ***************************** */
#portfolio{
    display: flex;
    flex-direction: column;
    /* background-color: #000000dc; */
    background: url('Images/background.jpeg') no-repeat center center/cover;
    opacity: 0.9;
}
#portfolio h1{
    padding: 5%;
}
#portfolio p{
    /* margin: 3%; */
    color: rgb(0, 247, 173);
    font-size: 2rem;
    padding-left: 7%;
}

/* **************************** about me*************************** */
#about{
   display: flex;
   flex-direction: column;
   text-align: justify;
   height: 100%;
   background-color: rgba(32, 31, 31, 1);
}
#nameid{
   font-size: 3.25rem;
   margin-left: 5%;
}

#depart{
   font-size: 3 rem ;
   margin-left: 5%;
}
.about{
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   margin-left: 5%;
   color: rgb(254, 252, 115);
}
.about img{
   width: 350px;
   height: 400px;
   padding: 0px 30px;
}
.name{
   padding: 100px;
}
.name p{
   font-size: 2.5rem;
}

/* ****************************Education Section********************** */
#education{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}

#education h1{
    margin: 5%;
}
.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10%;
    /* margin-left: 5%; */
    
}
.box{
    height: 200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    margin-bottom: 40px;
}

.box:hover{
    border: 3px solid #FFD700;
    color: white;
    cursor: pointer;
}

.box h2{
    color: yellowgreen;
    font-size: 2rem;
    padding-bottom: 5%;
}
.box p{
    color: white;
    font-size: 1.1rem;
}


/* ******************************** Contact & Message Section******************* */
#contact{
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
    justify-content: center;
}

.handle{
    
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#Myhandles{
    
    font-size: 2.5rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: yellowgreen;
    /* margin-bottom: 1%;
    margin-top: 1%; */
    padding: 1%;
}

#icon{
    padding:1% 1.5%
}

#handles{
    font-size: 2.5rem;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10%;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center ; */
    /* justify-items: center;  */
}

.input:hover{
    border: 3px solid #37b605;
    color: white;
    cursor: pointer;
}

.input{
    padding: 15px 20px;
    margin: 15px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 25px;
}

#message{
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    color: black;
}

#message:hover{
    border: 3px solid #37b605;
    color: black;
    cursor: pointer;
}


#submit{
    padding: 15px 20px;
    /* margin: 30px; */
    width: 15%;
    border-radius: 20px;
    background-color: #27d700dc;
    color: white;
    border: none;
    outline: none;
}

#submit:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}


/* ********************************* anchor tags *********************************** */
a:link {
    color:yellow;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgb(0, 255, 251);
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}